<a href="https://colab.research.google.com/github/nickohl/DELTA_SU/blob/main/code/pre_process.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!pip install pandas
import pandas as pd
!pip install openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

In [ ]:
WV_table = pd.read_excel("https://docs.google.com/spreadsheets/d/e/2PACX-1vTpRy5w9M6ikZbx6JEBcgzl9ldoKDCUgvTnaspPxQx-BaEdJSMuR6kC39OXyrbyzvHLGu9_y7GqLJi4/pub?output=xlsx")
WV_table

,File,UL LONG,UL LAT,UR LONG,UR LAT,LR LONG,LR LAT,LL LONG,LL LAT,DATE,TIME,File number USGS
0,1033.0,1882-12-27 05:26:00,1901-08-15 09:58:00,1891-07-17 02:02:00,1901-08-15 09:58:00,1891-07-17 02:02:00,1915-08-11 11:58:00,1882-12-27 05:26:00,1915-08-11 11:58:00,31-Aug-2017,16:41:04,WV02N29_953089W094_6689992017083100000000MS00_...
1,1034.0,1899-05-22 15:43:00,1906-08-24 00:44:00,1889-10-30 17:02:00,1906-08-24 00:44:00,1889-10-30 17:02:00,1916-05-25 23:44:00,1899-05-22 15:43:00,1916-05-25 23:44:00,31-Aug-2017,16:42:03,WV02N30_105918W094_7826442017083100000000MS00_...
2,1035.0,1899-07-24 11:25:00,1914-11-01 00:53:00,1889-12-09 22:30:00,1914-11-01 00:53:00,1889-12-09 22:30:00,1905-12-05 10:10:00,1899-07-24 11:25:00,1905-12-05 10:10:00,31-Aug-2017,16:42:05,WV02N29_545917W094_7752302017083100000000MS00_...
3,1036.0,1899-08-05 18:57:00,1912-09-05 14:25:00,1889-12-16 04:54:00,1912-09-05 14:25:00,1889-12-16 04:54:00,1904-02-16 13:05:00,1899-08-05 18:57:00,1904-02-16 13:05:00,31-Aug-2017,16:42:06,WV02N29_441920W094_7738862017083100000000MS00_...
4,1037.0,1899-07-14 21:24:00,1916-12-31 23:12:00,1889-12-02 21:56:00,1916-12-31 23:12:00,1889-12-02 21:56:00,1908-02-05 20:23:00,1899-07-14 21:24:00,1908-02-05 20:23:00,31-Aug-2017,16:42:05,WV02N29_660325W094_7767432017083100000000MS00_...
5,1038.0,1899-06-29 10:07:00,1900-03-10 12:29:00,1889-11-23 01:07:00,1900-03-10 12:29:00,1889-11-23 01:07:00,1910-04-19 03:59:00,1899-06-29 10:07:00,1910-04-19 03:59:00,31-Aug-2017,16:42:04,WV02N29_775705W094_7782412017083100000000MS00_...
6,1040.0,1890-07-16 11:11:00,1902-03-23 09:08:00,1898-04-07 23:20:00,1902-03-23 09:08:00,1898-04-07 23:20:00,1916-08-05 03:58:00,1890-07-16 11:11:00,1916-08-05 03:58:00,31-Aug-2017,16:40:04,WV02N29_994833W094_2935122017083100000000MS00_...
7,1041.0,1882-12-10 01:52:00,1905-10-14 03:55:00,1891-07-10 19:53:00,1905-10-14 03:55:00,1891-07-10 19:53:00,1900-01-22 00:45:00,1882-12-10 01:52:00,1900-01-22 00:45:00,31-Aug-2017,16:41:03,WV02N30_153583W094_6706882017083100000000MS00_...
8,4020.0,1899-06-03 02:08:00,1904-08-23 19:04:00,1889-11-07 04:47:00,1904-08-23 19:04:00,1889-11-07 04:47:00,1914-05-26 21:14:00,1899-06-03 02:08:00,1914-05-26 21:14:00,31-Aug-2017,16:42:03,WV02N30_000773W094_7812762017083100000000MS00_...
9,4021.0,1882-12-17 05:13:00,1903-09-12 09:33:00,1891-07-14 08:14:00,1903-09-12 09:33:00,1891-07-14 08:14:00,1916-12-24 18:53:00,1882-12-17 05:13:00,1916-12-24 18:53:00,31-Aug-2017,16:41:04,WV02N30_043753W094_6699192017083100000000MS00_...
10,5014.0,1899-08-29 17:37:00,1908-06-06 01:06:00,1889-08-08 07:27:00,1908-06-06 01:06:00,1889-08-08 07:27:00,1918-11-23 08:36:00,1899-08-29 17:37:00,1918-11-23 08:36:00,31-Aug-2017,16:42:07,WV02N29_218496W094_7815162017083100000000MS00_...
11,5015.0,1899-08-18 00:19:00,1910-07-19 19:10:00,1889-12-24 08:13:00,1910-07-19 19:10:00,1889-12-24 08:13:00,1901-12-29 21:00:00,1899-08-18 00:19:00,1901-12-29 21:00:00,31-Aug-2017,16:42:06,WV02N29_329782W094_7724132017083100000000MS00_...
12,5016.0,1899-06-16 12:34:00,1902-05-29 05:16:00,1889-11-16 10:17:00,1902-05-29 05:16:00,1889-11-16 10:17:00,1912-02-29 10:46:00,1899-06-16 12:34:00,1912-02-29 10:46:00,31-Aug-2017,16:42:04,WV02N29_883053W094_7796532017083100000000MS00_...

Use coordinates and file number on https://hddsexplorer.usgs.gov to find file for each file. For events select "202002 exercise ironfist". Create an account and download file.

This create the image file, which is ready to use. For creating a label, used ArcGIS along with DEM file and watershed file from ESRI to define water and land label.

In [1]:
!pip install pillow
from PIL import Image

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pillow in /usr/local/lib/python3.7/dist-packages (7.1.2)

In [ ]:
#import image from directory
WV_1034_image = Image.open("filepath/WV_1034_image.tif")
WV_1034_label = Image.open("filepath/WV_1034_label.tif")

In [14]:
#install python3, GDAL, GDAL-python byndings
git clone http://github.com/nasa/delta
python3 -m pip install delta

SyntaxError: ignored

In [15]:
#put images in the right directory
mv WV_1034_image train
mv WV_1034_label label

sample_data/

In [ ]:
#run train code
delta train --config WV_dataset.yaml --config WV_train_network.yaml --config WV_train_parameters.yaml WV_DELTA_train.SavedModel 2>/dev/null

In [ ]:
#run classify code
delta classify --config WV_dataset.yaml --image-dir ./validate --outdir ./model_output --overlap 32 WV_delta_classify.SavedModel 2>/dev/null